*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
}
body{
	background-image: url(http://portfolio/public/img/jog.1.jpg);
	display: flex;
	background-repeat:repeat;
	background-size:cover;
	background-size:100%;
	border:3vh solid #1e1926f7;
}
.dad-div{
	display: flex;
	justify-content:flex-end;
	width:93%;
	height:150vh;
	background-color:#1e1926f7;
}
.father{
	width:94%;
	height:94vh;
	padding-right:2pc;
}
.dad-div2{
	width:7%;
	height:150vh;
	background-color:#20202a;
}

.theme-f{
	padding:20px 0px;
	display: flex;
	justify-content: space-between;
}
.title{
	margin-top:15px;
	font-weight:bolder;
	font-size:16px;
	color:white;
}

.informations{
	width:100%;
	height:25vh;
	display: grid;
	grid-template-columns:1fr 1fr 1fr;
	gap:30px;
}
.information{
	padding:50px 35px 40px 35px;
	background-color:#2c2c37;
}
.flex{
	padding-bottom:10px;
	display: flex;
	justify-content: space-between;
}

.grey-info{
	font-size:13px;
	font-weight:normal;
	color:grey;
}
.white-info{
	font-size:13px;
	color:white;
	font-weight:normal;
}
.somethings-to-you{
	width:100%;
	height:76vh;
	background-color:#2e2d3a;
	padding:30px;	
	display: grid;
	grid-template-columns:1fr;
}

.NAME{
	height:7.5vh;
	display: flex;
}
.INPUT{
	width:100%;
	height:7.5vh;
}
.coNtact{
	padding:15px;
	height:7.5vh;
	background-color:#21202c;
	color:grey;
}
.textarea{
	display: flex;
}
.SMS{
	padding:15px;
	background-color:#21202c;
	color:grey;
}
.SEND{
	margin-top:30px;
	background-color:#ffc108;
	width:17%;
	height:7vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.by-someone{
	margin-top:10vh;
	background-color:#2e2d3a;
	width:100%;
	height:12vh;
	color:grey;
	padding:32px 15px 15px 15px;
	display: flex;
	justify-content: space-between;
}







#checked{
  display: none;
}

.bar-btn2{
  display: none;
} 

.btn{
	width:100%;
	height:100px;
	background-color:#24242f;
	padding:30px;
}

.bar-btn2{
  display:block;
  color: white;
  z-index:1;
  position:absolute;
  transition:0.5s all;
  cursor: pointer;
}

.bar-btn2 .span2{
  width:25px;
  height:2px;
  background:grey;
  display:block;
  margin:6px 0;
  transition:0.5s all;
}

#checked:checked ~ .bar-btn2 .span2:nth-child(1){
  transform: rotate(44deg)translate(3px, 0px);
}


#checked:checked ~ .bar-btn2 .span2:nth-child(2){
  
  opacity: 0;
}


#checked:checked ~ .bar-btn2 .span2:nth-child(3){
  transform: rotate(-43deg)translate(9px,-7px);
}

.rotate{
	color:grey;
	width:30%;
	height:13vh;
	transform: rotate(-270deg);
   	display: flex;
}

@media (max-width:800px) and (min-width:300px){
	.informations{
	width:100%;
	height:100vh;
	display: grid;
	grid-template-columns:1fr;
	gap:30px;
}
.dad-div{
	display: flex;
	justify-content:flex-end;
	width:93%;
	height:230vh;
	background-color:#1e1926f7;
}
.father{
	width:94%;
	height:94vh;
	padding-right:2pc;
}
.dad-div2{
	width:10%;
	height:230vh;
	background-color:#20202a;
}

.SEND{
	margin-top:30px;
	background-color:#ffc108;
	width:40%;
	height:7vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.by-someone{
	margin-top:10vh;
	background-color:#2e2d3a;
	width:100%;
	height:20vh;
	color:grey;
	padding:30px;
	display: flex;
	flex-direction:column;
}

}